html {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
    margin: .5rem auto;
    padding: 10px;
    color: red;
    background-color: black;
    font: oblique bold 33px 'Helvetica';
}

.column {
    display: flex;
    border: 0px;
}

div {
    min-height: 50px;
    border: 3px solid black;
    flex: 1;
}