html {
    box-sizing: border-box;
    max-width: 960px;
    max-height: 960px;
    margin: auto;
}

.body {
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    margin:  1% auto;
    padding: 10px;
    color: red;
    background-color: black;
    font: oblique bold 33px 'Helvetica';
}

.column {
    display: flex;
    border: 0px;
}

div {
    min-height: 10px;
    flex: 1;
}